@media screen {
	body {background-color: #e3eef6; font-family: Calibri, sans-serif; color: #222; font-size: 1em;}
html {height:101%;}
}

* {padding: 0; margin: 0;} 
p, ul, ol, table {margin-bottom: .4em;}
img {border: none;}
table {border-collapse: collapse;}
.randlos table {width: 40%; border-style:hidden;}
.randlos td {border-style:hidden;}
.zwei {border:0; width:50%;}
.inhalt {border:0; width:100%;}
blockquote {padding: .5em 3em; font-style: italic;}
a {color: #369; outline:none;}
a:visited {color: #a151b0;}

@media screen {
pre {font-size: 14px;}
td, th {border: 1px solid #ccc; padding: 0 5px;}
a[href *="loesung"] {color: #999;}
a[href^="http://"]:before, a[href^="https://"]:before {content: "\2197\00A0";}

#wrapper {width: 98%; min-width: 600px; max-width:950px; margin: 5px auto 15px auto; border: 1px solid #ccc; border-radius:10px;}

@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter'), local('ArchitectsDaughter'), url(https://fonts.gstatic.com/s/architectsdaughter/v6/RXTgOOQ9AAtaVOHxx0IUBM3t7GjCYufj5TXV5VnA2p8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#kopf {background-color: #58b; padding: 10px 5px 10px 15px; border-radius:10px;}
#kopf a {text-decoration: none; color: #e3eef6;}
#kopf p {font-size: 6vw; font-family: "Architects Daughter", Calibri, sans-serif; margin-bottom: 0;}

#navi {padding: 3px 0 0 0}
#navi p {padding: 3px 0 7px 0; margin: 4px 0 0 0; color:#369;}
#navi a {text-decoration: none; padding: 10px 2px 10px 0;}
#navi ul {list-style: none; padding: 0 10px;line-height:250%;}
#navi li {display: inline;}
#navi ul li a {font-weight: bold; padding: 3px 7px;}
#navi a:hover, a:focus {text-decoration: underline;}
.aktiv {background-color: #fff; border-radius: 5px; border: 1px solid #58b;}

#middle {float:left; background-color: #fff; border-top:5px solid #fff; border-bottom: 5px solid #fff;width:100%;}

#seite {float: left; width: 23%;font-size: 0.846em; line-height: 1.5em; padding: .6% 1.2%; margin: 0;border-right: 0px solid #000; }
#seite ul {list-style-type:none;}
#seite ul li {overflow: visible; margin-left: 10px;position: relative;padding: 0 0 2px 0;}
#seite ul li:before {content: '\25AA'; color: #c73; left: -10px;position: absolute;}
#seite a {text-decoration:none;}
#seite a:hover, a:focus {text-decoration: underline;}

#lesen {float:right; width: 69.5%; padding:.6% 2%; margin-bottom:5px; line-height: 1.5em;}
#lesen h1, h2, h3 {font-family:"trebuchet ms", sans-serif; color:#d51; font-weight:bold; line-height:1.3em; margin: 0.3em 0; }

#fuss {clear: both; background-color: #e3eef6; padding: 3px 5px; border-top: 1px solid #ccc;font-size: 0.857em; border-radius: 0 0 10px 10px;}
#fuss ul {margin-bottom: 0;}
#fuss ul li {display: inline; padding: 0 15px 0 0;}
.kasten {background-color: #e3eef6; margin: 15px 0; border-width: 2px 0; border-style: solid; border-color: #6c96b3; padding: 8px 10px; clear:right;}
.buttontop {color:#e3eef6; text-decoration:none; background-color:#58b;padding:3px 10px; border-radius:8px; font-weight:bold;}
.imprint {text-align:right; padding-right: 10px;font-size: .875em;}
.icon {vertical-align:middle;}

/*.wk {padding: 5px 5px 3px 10px; background-color: #e3eef6; border-radius:10px;}*/
.wf {border-top: 0px solid #ccc;padding:20px 0; text-align:center; background-color: #fff; border-radius: 0 0 10px 10px;}
.ads {margin-top:20px;color: #777;}
/*.wtt {margin-top:20px;font-size:.6875em;color: #777;}*/
.wtsl {text-align:right;font-size:.8125em;color: #777;line-height: .5em;border-bottom:1px solid #ccc; margin-bottom:30px;padding:0 5px 5px 0;}
.wbt {text-align:right;font-size:.6875em;color: #777;line-height: .5em;padding-right:2px;}
.wst, .wsa, .wsl {border: 1px solid #eee;width:305px;height:265px;float:right;padding:5px 0 5px 5px;}
}

/* Screen und Print */
#lesen h1 {font-size: 150%;}
#lesen h2 {font-size: 120%; padding-top: 0.6em;}
#lesen h3 {font-size: 100%; padding-top: 0.6em;}
h4 {font-weight: bold; font-size: 1em; border-bottom: 1px solid #ccc; margin-bottom: 4px;}
#lesen .kasten h2 {padding-top: 0em;}
#lesen .datum {font-size: 85%; color: #777;line-height:1.2em;padding-bottom:5px;}
#lesen .bsp {margin-top: 15px;}
ol {list-style-type: decimal; margin: 0 0 0 20px; padding: 0 0 3px 0;}
ol ol {list-style-type: lower-alpha; margin: 0 0 0 20px;}
ol ol li {padding: 0 0 3px 0;}
ol ol ol {list-style-type: lower-roman; margin: 0 0 0 20px;}
#lesen ul {list-style-type: disc; margin: 0 0 0 20px; padding: 0 0 3px 0;}
#lesen ul ul {list-style-type: circle; margin: 0 0 0 20px;}
#lesen ul ul ul {list-style-type: disc; margin: 0 0 0 20px;}
#lesen .lgstop {display:inline-table;vertical-align:top;}

/*---Bilder im Fliesstext links/rechts---*/
.bildlinks, .bildrechts {padding: 3px; margin-bottom: 10px;max-width:100%; height:auto;}
.bildlinks {float: left; margin-right: 10px;}
.bildrechts {float: right; margin-left: 10px;}
.bildmitte {display: block; margin:12px auto;max-width:100%; height:auto;}

@media only screen and (max-width: 613px) {
	#wrapper {min-width:0; font-size: 100%;} 
	#seite {float:none; min-width:0;width: auto;} 
	.special {display:flex; width:98%; flex-wrap:wrap; flex-direction:row;justify-content: space-around;}
	#seite ul {display:flex; width:98%; flex-wrap:wrap; flex-direction:row;justify-content: space-around;}
	#seite ul li {margin:4px 0;width:48%;background-color:#e3eef6;}
	#seite ul li:before {display:none;}
	#seite p {margin:4px 0;width:48%;background-color:#e3eef6;}
	#lesen, #middle {min-width:0; float:none;width:auto;}
	#navi ul li a {padding: 3px 5px;}
	}
@media only screen and (min-width: 900px) {#kopf p {font-size:337.5%;}}

@media only screen and (min-width: 614px) {	#middle {background-image: linear-gradient(to right, #fff 24.9%, #ccc 25.5%, #ccc 25.55%, #fff 25.55%);}}

/*jsxgraph*/
.jxgbox {position:relative; /* for IE 7 */
overflow:hidden; background-color:#ffffff; border-style:solid; border-width:1px; border-color:#356AA0; margin: 10px 0; border-radius:10px;max-width:100%;}
.JXGtext {background-color:transparent; font-family: Arial, Helvetica, Geneva; padding:0px; margin:0px;
 /*line-height:100%;*/ /* This has to be commented out. Otherwise subscripts are not visible in IE */}
.navbar {color: #aaaaaa; background-color: #f5f5f5; padding: 2px; position: absolute; font-size: 10px; cursor:pointer; z-index: 100; right: 5px; bottom: 5px;}

/*Share-Buttons*/
.buttons {padding-top:10px;}
.fb, .go, .info, .wa, .tw {color:#fff !important; font-weight:bold; text-decoration:none; padding:3px 10px; margin-right:0px; border-radius:5px;}
.fb {background-color:#56c;margin-left:3px;}
.go {background-color:#d54;}
.tw {background-color:#5ae;}
.info {background-color:#aaa;}
.wa {background-color:#5b4;}
a[class^="fb"]:before {content: "FB";}
a[class^="go"]:before {content: "G+";}
a[class^="tw"]:before {content: "T";}
a[class^="wa"]:before {content: "WA";}
a[class^="info"]:before {content: "Info";}

@media print {
body { font-family: "Palatino Linotype", serif; font-size: 0.875em;}
pre {font-size:10pt;}
td, th {border:1pt solid #ccc; vertical-align:top; padding: 0 5pt;}
a, a:visited {color:#000; text-decoration:none;}
#seite, #kopf, #fuss, #navi, #lesen .noprint, .imprint, .wk, .wf, .buttons, .wsa, .wsl, .wst, .wtt, .wbt, .buttontop {display:none;}
#lesen {padding:5pt 11pt; line-height:1.45em;}
#lesen h1, h2, h3 {font-weight: bold; margin:0.3em 0;}
#lesen .kasten {border:1pt solid #666; padding:3px 8px; border-radius:8px;}
}

.tooltip {position: relative; color:#fff !important; font-weight:bold; text-decoration:none; padding:3px 10px; margin-right:3px; border-radius:5px; background-color:#aaa;}
.tooltip:hover {z-index: 1;}
.tooltip a {color:#fff; text-decoration:none;}
.tooltip em {display: none;}
.tooltip:hover em {display: block; position: absolute; right: 0%; bottom: 110%; width: 200px; color: #222; font-style: normal; font-weight: normal; font-size:.8em; line-height: 1.1em; border: 1px solid #58b; border-radius:8px; padding: 4px; background: #e3eef6; }

.cc_container .cc_btn {background-color:#ddd !important;}
.cc_container {padding: 3px 15px !important;}
.cc_container .cc_message {font-family: Calibri, sans-serif; color:#777 !important;}